$padding: 3px;

.Show {
  width: 100%;
  height: 100%;
  position: relative;

  .holder {
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;

    .container {
      width: 100%;
      height: 100%;
    }
  }
}
