$padding: 3px;

.Final {
  width: 100%;
  height: 100%;
  position: relative;

  .holder {
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;

    .container {
      width: 100%;
      height: 100%;
    }
  }

  .filter {
    position: absolute;
    top:   30px;
    right: 30px;
    padding: 40px;
    border-radius: 40px;
    background: #ffffffcc;
  }
}
